basic-formula-451520-c0-5d2c021b78b6.json
.build-cache
HypeTrade307/.build-cache
*.pyc
/.env
src/db/database.py
src/.env

HypeTrade307/package-lock.json
HypeTrade307/package.json
HypeTrade307/.env
.gitignore
/.build-cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/.venv
/dist
/build
/node_modules
.env
*.zip
*.tar.gz
.env.yaml
.build-cache/index.json
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?