.button_top_left {
    scale: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    
    background: #007bff; /* Dark overlay */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}